{{ define "main" }}
<div class="container">
  <section class="page-header">
    <h1 class="page-header-title">
      {{- .Title -}}
    </h1>
    <div class="post-list-meta">
      {{ partial "posts/post-meta.html" . }}
      {{ with .Params.categories }}
      <div class="post-list-categories">
        {{ range . }}
          <a href="{{ "categories" | absURL }}/{{ . | urlize }}/">{{ . }}</a>
        {{ end }}
      </div>
      {{ end }}
      {{ partial "general/label-drafts.html" . }}
    </div>
    <p class="page-header-desc">
      {{- with .Params.Summary -}}
        {{- . -}}
      {{- else -}}
        {{- .Description -}}
      {{- end -}}
    </p>
    <div class="single-terms">
      {{ with .Params.tags }}
      {{ range . }}
      <a class="term" href="{{ "tags" | absURL }}/{{ . | urlize }}/">{{ . }}</a></li>
      {{ end }}
      {{ end }}
    </div>
  </section>
</div>
<div class="single-container-post">
  {{ partial "posts/toc.html" . }}
  <div class="single-post-contents">
    {{- if .Params.series }}
      <div class="series">
        {{- $name := index .Params.series 0 }}
        <p>Part of the <a href="{{ "series" | absURL }}/{{ $name | urlize }}/">{{$name}}</a> series:</p>
        {{- $name := $name | urlize }}
        {{- $series := index .Site.Taxonomies.series $name }}
        {{ $curtitle := .Title }}
        <ol class="series-list">
          {{- range $series.Pages.Reverse }}
            <li>
              {{- if eq .Title $curtitle -}}
                {{- .Title -}}
                <span class="series-this-post">This post!</span>
              {{ else }}
                <a href="{{.Permalink}}">{{ .Title }}</a>
              {{ end }}
            </li>
          {{- end }}
        </ol>
      </div>
    {{ end }}
    <div class="single-feature-img">{{ partial "general/feature-image.html" . }}</div>
    <article class="markdown">
        {{ .Content }}
    </article>
    <aside>
      <div class="single-terms">
        {{ with .Params.tags }}
          {{ range . }}
          <a class="term" href="{{ "tags" | absURL }}/{{ . | urlize }}/">{{ . }}</a></li>
          {{ end }}
        {{ end }}
      </div>
      {{ partial "posts/social-share.html" . }}
      {{- if .Params.series }}
        <div class="series">
          {{- $name := index .Params.series 0 }}
          <p>Part of the <a href="{{ "series" | absURL }}/{{ $name | urlize }}/">{{$name}}</a> series:</p>
          {{- $name := $name | urlize }}
          {{- $series := index .Site.Taxonomies.series $name }}
          {{ $curtitle := .Title }}
          <ol>
            {{- range $series.Pages.Reverse }}
              <li>
                {{- if eq .Title $curtitle -}}
                {{- .Title -}}
                  <span class="series-this-post">This post!</span>
                {{ else }}
                  <a href="{{.Permalink}}">{{ .Title }}</a>
                {{ end }}
              </li>
            {{- end }}
          </ol>
        </div>
      {{ else }}
        {{ partial "posts/related.html" . }}
        {{ partial "posts/next-previous.html" . }}
      {{- end }}
      {{ if and (.Site.DisqusShortname) (not .Site.IsServer) (ne .Params.disable_comments true) }}
        <div class="section">
          {{ template "_internal/disqus.html" . }}
        </div>
      {{ end }}
    </aside>
  </div>
</div>

<script type="module">
  import { annotate } from "https://unpkg.com/rough-notation?module";


  function checkParent(elem) {
    const parent = elem.parentElement;
    const strong = document.createElement("strong");
    const em = document.createElement("em");
    const del = document.createElement("del");
    console.log(elem.hasChildNodes(), elem);


    if (
      parent.constructor === strong.constructor ||
      parent.constructor === em.constructor ||
      parent.constructor === del.constructor
    )
      return false;
    if (elem.childElementCount > 0) return false;
    return true;
  }


  function annotateElement(selector, type, color) {
    document.querySelectorAll(selector).forEach((elem) => {
      const shouldAllowAnnotation = checkParent(elem);
      if (shouldAllowAnnotation)
        annotate(elem, { type, color, multiline: true, animate: false }).show();
    });
  }


  function annotateNestedElement(selector, type, color) {
    document.querySelectorAll(selector).forEach((elem) => {
      annotate(elem, {
        type,
        color,
        multiline: true,
        animate: false,
        brackets: ["left", "right", "top", "bottom"],
      }).show();
    });
  }


  try {
    annotateElement("em", "underline", "#2196f3");
    annotateElement("strong", "highlight", "yellow");
    annotateElement("del", "strike-through", "#ff0000");
    annotateNestedElement("em > del", "crossed-off", "#ff0000");
    annotateNestedElement("em > strong", "box", "lawngreen");
    annotateNestedElement("em > em", "circle", "#ff000080");
    annotateNestedElement("blockquote", "bracket", "#da3bf1");
  } catch (exception) {
    console.log(exception.message);
  }
</script>


<style>
  .section-content em,
  .section-content strong,
  .section-content del {
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
  }


  blockquote {
    background-color: #fff;
    padding: 0.3rem;
    margin: 2rem 0;
  }
</style>
{{ end }}