// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

:root, [data-theme="default"] {
  --color-primary:   rgba(41, 120, 160, 1);
  --color-secondary: #245584ff;
  --color-inline-code: rgba(252, 186, 4, 1);
  
  /* color contrasts */
  --color-bg: rgba(255, 255, 255, 1);
  --color-contrast-lower: rgba(227, 226, 229, 1);
  --color-contrast-low: rgba(199, 196, 202, 1);
  --color-contrast-medium-low: rgba(142, 136, 148, 1);
  --color-contrast-medium: rgba(86, 77, 94, 1);
  --color-contrast-medium-high: rgba(58, 47, 67, 1);
  --color-contrast-high: rgba(44, 32, 54, 1);
  --color-contrast-higher: rgba(29, 17, 40, 1);

  --color-text: var(--color-contrast-high);

  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  
}

[data-theme] {
  background-color: var(--color-bg);
  color: var(--color-contrast-high);
}

[data-theme="dark"] {
  --color-primary:   rgba(41, 120, 160, 1);
  --color-inline-code: rgba(252, 186, 4, 1);
  
  /* color contrasts */
  --color-bg: rgba(29, 17, 40, 1);
  --color-contrast-lower: rgba(44, 32, 54, 1);
  --color-contrast-low: rgba(58, 47, 67, 1);
  --color-contrast-medium-low: rgba(86, 77, 94, 1);
  --color-contrast-medium: rgba(142, 136, 148, 1);
  --color-contrast-medium-high: rgba(199, 196, 202, 1);
  --color-contrast-high: rgba(227, 226, 229, 1);
  --color-contrast-higher: rgba(255, 255, 255, 1);

  --color-text: var(--color-contrast-high);
}


// Fonts

/// Regular font family
/// @type List
$text-font-stack: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace;


// Containers

/// Container's maximum width
/// @type Length
$max-width: 1180px;


// Responsiveness

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'x-small': 320px,
  'small': 576px,
  'medium': 768px,
  'm-large': 900px,
  'large': 1024px,
  'x-large': 1200px,
);


// Assets

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/';
