{{ define "main" }}
<script type="module">
  import { annotate } from "https://unpkg.com/rough-notation?module";


  function checkParent(elem) {
    const parent = elem.parentElement;
    const strong = document.createElement("hil");
    const em = document.createElement("und");
    const del = document.createElement("stx");
    console.log(elem.hasChildNodes(), elem);


    if (
      parent.constructor === strong.constructor ||
      parent.constructor === em.constructor ||
      parent.constructor === del.constructor
    )
      return false;
    if (elem.childElementCount > 0) return false;
    return true;
  }


  function annotateElement(selector, type, color) {
    document.querySelectorAll(selector).forEach((elem) => {
      const shouldAllowAnnotation = checkParent(elem);
      if (shouldAllowAnnotation)
        annotate(elem, { type, color, multiline: true, animate: true }).show();
    });
  }


  function annotateNestedElement(selector, type, color) {
    document.querySelectorAll(selector).forEach((elem) => {
      let annotation = annotate(elem, {
        type,
        color,
        multiline: true,
        animate: true,
        brackets: ["left", "right", "top", "bottom"],
      });
      let time = Number(elem.getAttribute("data-delay"));
      setInterval(() => {
        annotation.show();
      }, time);
    });
  }


  try {
    annotateElement("und", "underline", "#6A2E35");
    annotateElement("hil", "highlight", "#FCBA04");
    annotateElement("stx", "strike-through", "#6A2E35");
    annotateNestedElement("und > stx", "crossed-off", "#6A2E35");
    annotateNestedElement("hil > und", "box", "#2978A0");
    annotateNestedElement("und > und", "circle", "#81B29A");
    annotateNestedElement("blockquote", "bracket", "#2978A0");
  } catch (exception) {
    console.log(exception.message);
  }
</script>


<style>
  .section-content em,
  .section-content strong,
  .section-content del {
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
  }


  blockquote {
    background-color: #fff;
    padding: 0.3rem;
    margin: 2rem 0;
  }
</style>

<div class="container">
  <section class="section hero">
    <div class="hero-info">
      <h1 class="hero-title"  style="font-family: Sorts_Mill_Goudy"> <und data-delay="400"><und data-delay="400">Hi!</und></und> I'm <hil data-delay="3000">{{.Title}}</hil><span class="wave">👋</span></h1>
      {{ with .Params.subtitle }}
        <p class="hero-subtitle">I study <und data-delay="100000000000">CS and Math</und> at <hil data-delay="1000000"><und data-delay="10000000">Harvey Mudd College</und></hil>. I'm also a <br> <und data-delay="200000">machine learning</und> research assistant at <hil data-delay="1000">Claremont McKenna</hil>, <br> and a <und data-delay="10000">web developer</und> for Claremont Graduate University.</p>
      {{ end }}
      <div class="btn-group">
        <a class="btn-primary" href="{{ "about/" | relURL }}">Resume</a>
        <a class="btn-secondary" href="{{ "projects/" | relURL }}">Email me!</a>
      </div>
      <br>
      {{ if eq .Site.Params.home_hero_socials true }}
        {{ partial "general/social-links.html" . }}
      {{ end }}
    </div>
    <div class="hero-owner">
      {{ $avatar := .Site.Params.avatar }}
      {{ $default_image := "images/aly.svg" }}
      {{ $image := "" }}
      {{ with $avatar }}
        {{ $image = resources.Get $avatar }}
      {{ else }}
        {{ $image = resources.Get $default_image }}
      {{ end }}
      <img class="hero-avatar"
            src="{{ $image.RelPermalink }}"
            width="500" height="500"
            alt="Headshot belonging to the website owner"/>
    </div>
  </section>
  <section class="section">
    <h2  style="font-family: Sorts_Mill_Goudy" class="home-section-title">
      {{- with .Params.projects_section_heading -}}
        {{- . -}}
      {{- else -}}
        Featured Projects
      {{- end -}}
    </h2>
    {{ $projects := where site.RegularPages "Section" "projects" | first 6 }}
    {{ with $projects }}
      <div class="project-list">
        {{- range . }}
          {{ partial "projects/project-entry.html" . }}
        {{ end }}
      </div>
    {{ else }}
      {{ partial "general/fallback-text.html" . }}
    {{ end }}
  </section>
  <section class="section">
    <div class="home-title-dropdown">
      <h2   style="font-family: Sorts_Mill_Goudy" class="home-section-posts-title">
        {{- with .Params.posts_section_heading -}}
          {{- . -}}
        {{- else -}}
          Recent Posts
        {{- end -}}
      </h2>
    </div>
    {{ range (where site.RegularPages "Section" "posts" | first 5) }}
      <div class="post-entry-filter entry--{{ replace .CurrentSection.RelPermalink "/" "" | lower }}">
        {{ partial "posts/post-entry.html" . }}
        <div class="post-entry-divider"></div>
      </div>
    {{ else }}
      {{ partial "general/fallback-text.html" . }}
    {{ end }}
    <a class="btn-secondary see-more" href="{{ "posts/" | relURL }}">More Posts</a>
  </section>
</div>


{{ end }}