{{ define "main" }}
<script type="module">
  import { annotate } from "https://unpkg.com/rough-notation?module";


  function checkParent(elem) {
    const parent = elem.parentElement;
    const strong = document.createElement("strong");
    const em = document.createElement("em");
    const del = document.createElement("del");
    console.log(elem.hasChildNodes(), elem);


    if (
      parent.constructor === strong.constructor ||
      parent.constructor === em.constructor ||
      parent.constructor === del.constructor
    )
      return false;
    if (elem.childElementCount > 0) return false;
    return true;
  }


  function annotateElement(selector, type, color) {
    document.querySelectorAll(selector).forEach((elem) => {
      const shouldAllowAnnotation = checkParent(elem);
      if (shouldAllowAnnotation)
        annotate(elem, { type, color, multiline: true, animate: true }).show();
    });
  }


  function annotateNestedElement(selector, type, color) {
    document.querySelectorAll(selector).forEach((elem) => {
      let annotation = annotate(elem, {
        type,
        color,
        multiline: true,
        animate: true,
        brackets: ["left", "right", "top", "bottom"],
      });
      setInterval(() => {
        annotation.show();
      }, 1000);
    });
  }


  try {
    annotateElement("em", "underline", "#2196f3");
    annotateElement("strong", "highlight", "yellow");
    annotateElement("del", "strike-through", "#ff0000");
    annotateNestedElement("em > del", "crossed-off", "#ff0000");
    annotateNestedElement("em > strong", "box", "lawngreen");
    annotateNestedElement("em > em", "circle", "#ff000080");
    annotateNestedElement("blockquote", "bracket", "#da3bf1");
  } catch (exception) {
    console.log(exception.message);
  }
</script>


<style>
  .section-content em,
  .section-content strong,
  .section-content del {
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
  }


  blockquote {
    background-color: #fff;
    padding: 0.3rem;
    margin: 2rem 0;
  }
</style>

<div class="container">
  <section class="section hero">
    <div class="hero-info">
      <h1 class="hero-title"  style="font-family: Sorts_Mill_Goudy">Hi! I'm <strong>{{.Title}}</strong> <span class="wave">👋</span></h1>
      {{ with .Params.subtitle }}
        <p class="hero-subtitle">{{.}}</p>
      {{ end }}
      <div class="btn-group">
        <a class="btn-primary" href="{{ "about/" | relURL }}">Resume</a>
        <a class="btn-secondary" href="{{ "projects/" | relURL }}">Email me!</a>
      </div>
    </div>
    <div class="hero-owner">
      {{ $avatar := .Site.Params.avatar }}
      {{ $default_image := "images/aly.svg" }}
      {{ $image := "" }}
      {{ with $avatar }}
        {{ $image = resources.Get $avatar }}
      {{ else }}
        {{ $image = resources.Get $default_image }}
      {{ end }}
      <img class="hero-avatar"
            src="{{ $image.RelPermalink }}"
            width="300" height="300"
            alt="Headshot or avatar belonging to the website owner"/>
      {{ if eq .Site.Params.home_hero_socials true }}
        {{ partial "general/social-links.html" . }}
      {{ end }}
    </div>
  </section>
  <section class="section">
    <h2  style="font-family: Sorts_Mill_Goudy" class="home-section-title">
      {{- with .Params.projects_section_heading -}}
        {{- . -}}
      {{- else -}}
        Featured Projects
      {{- end -}}
    </h2>
    {{ $projects := where site.RegularPages "Section" "projects" | first 6 }}
    {{ with $projects }}
      <div class="project-list">
        {{- range . }}
          {{ partial "projects/project-entry.html" . }}
        {{ end }}
      </div>
    {{ else }}
      {{ partial "general/fallback-text.html" . }}
    {{ end }}
  </section>
  <section class="section">
    <div class="home-title-dropdown">
      <h2   style="font-family: Sorts_Mill_Goudy" class="home-section-posts-title">
        {{- with .Params.posts_section_heading -}}
          {{- . -}}
        {{- else -}}
          Recent Posts
        {{- end -}}
      </h2>
    </div>
    {{ range (where site.RegularPages "Section" "posts" | first 5) }}
      <div class="post-entry-filter entry--{{ replace .CurrentSection.RelPermalink "/" "" | lower }}">
        {{ partial "posts/post-entry.html" . }}
        <div class="post-entry-divider"></div>
      </div>
    {{ else }}
      {{ partial "general/fallback-text.html" . }}
    {{ end }}
    <a class="btn-secondary see-more" href="{{ "posts/" | relURL }}">More Posts</a>
  </section>
</div>


{{ end }}