// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------



.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem 5vw;

  @include respond-to('medium') {
    flex-wrap: nowrap;
  }

  @include respond-to('m-large') {
    padding: 80px 0;
  }
}

.hero-info {

  .hero-title {
    font-weight: 900;
    margin-top: 0;
    @include font-size('xl');
  }

  .hero-subtitle {
    color: var(--color-contrast-medium-high);
    @include font-size('base');
  }
}

.hero-owner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;

  .hero-avatar {
    border-radius: 20px;
    
    // @include respond-to('medium') {
    //   width: 100%;
    //   max-width:unset;
    // }
  }
}

.home-section-title {
  margin-bottom: 50px;

  &::after {
    background-color: var(--color-contrast-medium);
    content: "";
    display: block;
    height: 2px;
    position: relative;
    width: 80px;
    top: 8px;
  }
}

.home-section-posts-title {
  @extend .home-section-title;
  margin: 0;
}

.home-title-dropdown {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

#select-posts {
  @include font-size('sm');
  padding: 0.4rem;
  border: 1px solid var(--color-contrast-medium-low);
  border-radius: 5px;
  color: var(--color-contrast-high);
  background-color: var(--color-contrast-lower);
}

.see-more {
  margin-top: 30px;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
